# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/x64/Debug
/ConsoleApplication1/x64/Debug/ConsoleA.c4c6c70e.tlog
/ConsoleApplication1/x64/Debug
*.user
*.filters
*.vcxproj
